@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500;600;700;800&display=swap');

body{
  background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 10%, rgba(0, 212, 255, 1) 100%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.button_section {
  margin: 20px;
}

#title{
  font-size: xx-large;
  font-weight: 800;
  font-family: 'Exo 2', sans-serif;
  color: rgb(226, 226, 226);
  margin: 20px;
}
